.imagen {
    
    width: 33%;
    min-width: 15rem;
    
    border-style: solid;
    border-width: 0.5rem;
    border-color: white;
    transition-property: border-color;
    transition-duration: 1s;
}s

.imagen .active {
    border-color: #af34ff;
    
}

.flex_container {
    display: flex;   
}
.width_70 {
    width: 70%;
}
.width_30 {
    width: 30%;
}

#demo_card_container {
    background-color: #af34ff;
}
#card_cuztom{
    background-color: blue;
}

#img_container {
    justify-content: center;
    flex-wrap: wrap;
    background-color: green;
}