{% extends "layout.html" %}

{% block main %}

<form action="/create" method="post" enctype="multipart/form-data">
    <input type="number" name="quantity" id="">
    <input type="file" name="file" id="">

    <input type="submit" value="Create Bingo Deck">
    <input type="hidden" name="url_image_selected" id="url_img_selected" value="">    
</form>
<br>
<div class="flex_container">
    <div id="demo_card_container" class="flex_container width_30">
        <div class="width_70">
        <table class="table">
            <thead>
                <tr>
                    <th>B</th>
                    <th>I</th>
                    <th>N</th>
                    <th>G</th>
                    <th>O</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>02</td>
                    <td>04</td>
                    <td>05</td>
                    <td>08</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>18</td>
                    <td>23</td>
                    <td>27</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>34</td>
                    <td>36</td>
                    <td>37</td>
                    <td>40</td>
                    <td>43</td>
                </tr>
                <tr>
                    <td>46</td>
                    <td>47</td>
                    <td>50</td>
                    <td>52</td>
                    <td>58</td>
                </tr>
                <tr>
                    <td>61</td>
                    <td>65</td>
                    <td>69</td>
                    <td>74</td>
                    <td>75</td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="width_30" id="card_cuztom">
            <h6>Options</h6>
        </div>
    </div>
    
    <div id="img_container" class="flex_container width_70">
        {% for img in list_img %}
        <img
            src="{{img}}"
            class="imagen"
            alt="name"
        />  
        {% endfor %}
    </div>

</div>
    
        
{% endblock %}

{% block script %}
<script>
    const input_hide = document.getElementById("url_img_selected")
    list_img = document.getElementsByClassName("imagen");
    for (var i = 0; i < list_img.length; i++)
    {
        list_img[i].addEventListener("click", function()
        { 
            // si el input no ya tiene el valor borrar el contenido 
            if (input_hide.value == this.src) {

                this.classList.remove("active")
                input_hide.value = ""

                console.log("the value of input_ hide is")
                console.log(input_hide.value)

            }
            // si el input tiene algo diferente guardar imagen
            else {
                // quitando la clase active de todas las imagenes
                for (let img of list_img) {
                    img.classList.remove("active")
                }
                // agregando la clase active a esta imagen
                this.className += " active";

                input_hide.value = this.src;
            

                console.log("the value of input_ hide is")
                console.log(input_hide.value)

                // VOY POR AQUI
                list_img.forEach(item => console.log(item.classList));
            }
        });
    }
</script>

{% endblock %}